<main>

  <h1>Angular universal</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt delectus dolor officiis vero aperiam quidem odio velit quae atque! Numquam, tempora excepturi illo qui voluptatem a aut reprehenderit iste minus?</p>
  <p>{{ name() }}</p>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
